[submodule "repo/service.subtitles.prijevodi-online-org"]
	path = repo/service.subtitles.prijevodi-online-org
	url = https://github.com/gorpet/service.subtitles.prijevodi-online-org
[submodule "repo/service.subtitles.titlovi-cobric"]
	path = repo/service.subtitles.titlovi-cobric
	url = https://github.com/gorpet/service.subtitles.titlovi-cobric
[submodule "repo/service.subtitles.bazarr"]
	path = repo/service.subtitles.bazarr
	url = https://github.com/gorpet/service.subtitles.bazarr.git
[submodule "vendor/fentasticplus"]
	path = vendor/fentasticplus
	url = https://github.com/Zaxxon709/fentasticplus
	branch = main
[submodule "vendor/repository.addonniss"]
	path = vendor/repository.addonniss
	url = https://github.com/Addonniss/repository.addonniss
	branch = main
